@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-Light.woff2") format("woff2"), url("./fonts/Jost-Light.eot"),
    url("./fonts/Jost-Light.woff") format("woff"),
    url("./fonts/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-Regular.woff2") format("woff2"), url("./fonts/Jost-Regular.eot"),
    url("./fonts/Jost-Regular.woff") format("woff"),
    url("./fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-Medium.woff2") format("woff2"), url("./fonts/Jost-Medium.eot"),
    url("./fonts/Jost-Medium.woff") format("woff"),
    url("./fonts/Jost-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-SemiBold.woff2") format("woff2"),
    url("./fonts/Jost-SemiBold.eot"), url("./fonts/Jost-SemiBold.woff") format("woff"),
    url("./fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-Bold.woff2") format("woff2"), url("./fonts/Jost-Bold.eot"),
    url("./fonts/Jost-Bold.woff") format("woff"),
    url("./fonts/Jost-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-Black.woff2") format("woff2"), url("./fonts/Jost-Black.eot"),
    url("./fonts/Jost-Black.woff") format("woff"),
    url("./fonts/Jost-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
